<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag "logo.png" %>John Doe
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="javascript:;">  Profile</a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="badge bg-red pull-right">50%</span>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a href="javascript:;">Help</a>
            </li>
            <li>
              <%= link_to('Log out', destroy_user_session_path, method: :delete) %> 
            </li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">1</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <% @user = User.where(RequestResetPassword: true, Supervisor: current_user.id).count %>
            <% if @user != 0 %>
            <li>
              <a>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        <a href="<%=reset_user_password_admin_users_path%>"> <span> Tienes <%= @user %> usuario(s) que necesitan reset de contraseña. </span> </a>
                                    </span>
              </a>
            </li>
            <% end %>

            <% @approved = Contract.where(status: 1, requester_id: current_user.id).count %>
            <% if @approved != 0 %>
            <li>
              <a>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        <a href="<%=all_admin_contract_index_path%>"> <span> Tienes <%= @approved %> contractos(s) aprobados. </span> </a>
                                    </span>
              </a>
            </li>
            <% end %>


            <li>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
