<h2>Forgot your password? Send a request to the administration, they will accept or deny it</h2>

<%= form_for(User.new, as: resource_name, url: "/users/password", html: { method: :patch }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %> :
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send my request to admin", class: "btn btn-primary submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
