

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>CREATE NEW CLIENT</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 600px;">
          <div class="x_title">
            <h2>New Client</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix">
              
            </div>
          </div>
          <div class="x_body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" data-toggle="tab" href="#datos_empresa" role="tab">Datos Empresa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#datos_contacto" role="tab">Datos Contacto</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
              <div class="tab-pane fade in active" id="datos_empresa" role="tabpanel">
                <div id="Datos" class="tab-pane fade in">
               <%= form_for Client.new, as: :client, url: admin_client_index_path, method: :post, html: { class: "new_client", id: "new_client" } do |f| %>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <%= f.label :rec_id,"SERIAL:"%>
                      <%= f.text_field :rec_id,:readonly => true, class: 'form-control', value: "CLNT0000000#{Client.maximum(:id).to_i + 1}"%>
                      <%= f.label :nombre,"Nombre Empresa:"%>
                      <%= f.text_field :nombre ,  required: true, class: 'form-control', placeholder: 'Nombre Empresa', "data-inputmask-regex" => "[a-zA-Z ]*"%>
                      <%= f.label :giroEmpresa,"GIRO DE LA EMPRESA:"%>
                      <%= f.text_field :giroEmpresa, class: 'form-control', placeholder: 'Giro de la Empresa' %>
                      
                      <%= f.label :sector_economico,"Sector economico:"%>
                      <%= f.text_field :sector_economico, class: 'form-control', placeholder: 'Sector economico al que pertenece la empresa'%>
                      <%= f.label :nombre_comercial, "Nombre Comercial:"%>
                      <%= f.text_field :nombre_comercial , class: 'form-control', placeholder: 'Nombre Comercial' %>
                      <%= f.label :nit,"No NIT Empresa:"%>
                      <%= f.text_field :nit, class: 'form-control', placeholder: 'NIT', required: true%>
                      
                      <%= f.label :cantidadEmpleados,"CANTIDAD DE EMPLEADOS:"%>
                      <%= f.number_field :cantidadEmpleados, class: 'form-control', placeholder: 'Cantidad de Empleados'%>
                      <%= f.label :fecha_de_constitucion,"FECHA DE CONSTITUCION DE LA EMPRESA:"%>
                      <%= f.date_field :fecha_de_constitucion, class: 'form-control'%>
                      <%= f.label :empresaNacional,"Es empresa Nacional? "%>
                      <%= select_tag(:empresaNacional, options_for_select([['True', 1], ['False', 2], ['Select one please', 3]], 3), {:class => 'form-control'})  %>
                      <%= f.label :pais_origen_id,"PAIS DE ORIGEN:"%>
                      <%= collection_select(:paisorigen, :pais_origen_id, PaisOrigen.all, :id, :name_with_initial, {:prompt=>true}, {:class=>'form-control'}) -%>
                      <%= f.label :representante_legal,"Representante Legal:"%>
                      <%= f.text_field :representante_legal, class: 'form-control', placeholder: 'Representante Legal' %>      
                      <%= f.label :oficina_actual,"Posee Oficina?"%>
                      <%= select_tag(:oficina_actual, options_for_select([['True', 1], ['False', 2], ['Select one please', 3]], 3), {:class => 'form-control'})  %>
                      <%= f.label :correo,"Correo Empresarial:"%>
                      <%= f.text_field :correo, class: 'form-control', placeholder: 'Correo Empresarial' %>
                      <%= f.label :telefono,"Telefono:"%>
                      <%= f.text_field :telefono, class: 'form-control', placeholder: 'Telefono' %>
                      <%= f.label :pagina_web,"Pagina Web Empresarial:"%>
                      <%= f.text_field :pagina_web , class: 'form-control', placeholder: 'Pagina Web Empresarial' %>
                      <%= f.label :domicilio_fiscal,"Domicilio Fiscal:"%>
                      <%= f.text_field :domicilio_fiscal , required: true, class: 'form-control', placeholder: 'Domicilio Fiscal' %>
                      <%= f.label :registro_fiscal,"No NRF:"%>
                      <%= f.text_field :registro_fiscal, class: 'form-control', placeholder: 'NRF', required: true%>
                      <%= f.submit "Crear", class: 'btn btn-primary submit' %>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="datos_contacto" role="tabpanel">
                <div id="Datos" class="tab-pane fade in">
               <%= form_for Contact.new, as: :contact, url: admin_client_index_path, method: :post, html: { class: "new_client", id: "new_contact_form" } do |f| %>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <%= f.label :rec_id,"SERIAL:"%>
                      <%= f.text_field :rec_id,:readonly => true, class: 'form-control', value: "CNT0000000#{Contact.maximum(:id).to_i + 1}"%>
                      <%= f.label :first_name,"Primer Nombre:"%>
                      <%= f.text_field :first_name ,  required: true, class: 'form-control', placeholder: 'Primer Nombre' %>
                      <%= f.label :middle_name,"Segundo Nombre:"%>
                      <%= f.text_field :middle_name ,  required: true, class: 'form-control', placeholder: 'Segundo Nombre' %>
                      <%= f.label :last_name,"Primer Apellido:"%>
                      <%= f.text_field :last_name ,  required: true, class: 'form-control', placeholder: 'Primer Apellido' %>
                      <%= f.label :sur_name,"Segundo Apellido:"%>
                      <%= f.text_field :sur_name ,  required: true, class: 'form-control', placeholder: 'Segundo Apellido' %>
                      <%= f.label :dui,"DUI:"%>
                      <%= f.text_field :dui , class: 'form-control', placeholder: 'DUI' %>
                      <%= f.label :nit,"NIT:"%>
                      <%= f.text_field :nit , class: 'form-control', placeholder: 'NIT' %>
                      <%= f.label :phone_contact,"Telefono de Contacto:"%>
                      <%= f.text_field :phone_contact, required: true, class: 'form-control', placeholder: 'Telefono de Contacto' %>
                      <label id="client_dui-error" class="error fade in" for="client_nombre" style="display: none;">This field is required.</label>
                      <%= f.label :mobil_contact,"No Celular:"%>
                      <%= f.text_field :mobil_contact, class: 'form-control', placeholder: 'Numero de Celular', required: true%>
                      <label id="client_nit-error" class="error fade in" for="client_nombre" style="display: none;">This field is required.</label>
                      <%= f.label :email,"Correo electronico:"%>
                      <%= f.text_field :email, class: 'form-control', placeholder: 'Correo electronico'%>
                      <%= f.label :position_id,"Posicion en la que trabaja:"%>
                      <%= collection_select(:position, :position_id, Position.all, :id, :name_with_initial, {:prompt=>true}, {:class=>'form-control'}) -%>
                      <%= f.submit "Create" %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <input type="button" name="commit" value="Crear" class="btn btn-primary submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    
    $("input[name=commit]").one('click', function(){
      var client =  $("#new_client").serializeArray();
      var contact = $("#new_contact_form").serializeArray();
      console.log(client);
      /*$.ajax({
        type: "POST",
        url: "/admin/client",
        data: {
          client: client, 
          contact: contact
        },
        success: function(data){
          console.log(data);
        },
        error: function(error){
          console.log(error);
        }
      });*/
    });

  $("#new_client").validate();
  $("#client_nombre").inputmask('Regex', {
    casing: "upper"
  });
    $("#client_dui").inputmask("99999999-9", 
      { 
        "onincomplete":  function(){ 

        } 
      });
    $("#contact_dui").inputmask("99999999-9", 
      { 
        "onincomplete":  function(){ 
          
        } 
      });

    $("#contact_nit").inputmask("9999-999999-999-9", { 
        "onincomplete":  function(){ 
          $("#client_nit-error").show();
          $("#client_nit-error").html("Must be like ####-######-###-#");
        } 
      });    
    
    $("#client_registro_fiscal").inputmask("999999-9", 
      { 
        "onincomplete":  function(){ 
          $("#client_dui-error").show();
          $("#client_dui-error").html("Must be like ########-#");
        } 
      });
    $("#client_telefono").inputmask("9999-9999", 
      { 
        "onincomplete":  function(){ 
          $("#client_dui-error").show();
          $("#client_dui-error").html("Must be like ########-#");
        } 
      });
    
    $("#contact_mobil_contact").inputmask("9999-9999");
    $("#contact_phone_contact").inputmask("9999-9999");

    
    Inputmask("url").mask("#client_pagina_web");
    Inputmask("email").mask("#client_correo");
    Inputmask("email").mask("#contact_email");

    
    $("#client_nit").inputmask("9999-999999-999-9", { 
        "onincomplete":  function(){ 
          $("#client_nit-error").show();
          $("#client_nit-error").html("Must be like ####-######-###-#");
        } 
      });
    //$("#new_client").validate();
  });

  
</script>



<style type="text/css">
  
  .btn.btn-primary.submit {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

</style>











