

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Update Contract - <%=@Contract.rec_id%> </h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 600px;">
          <div class="x_title">
            <h2>Update Contract</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix">
              
            </div>
          </div>
          <div class="x_body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" data-toggle="tab" href="#datos_contrato" role="tab">Datos Contrato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#datos_empresa" role="tab">Datos Empresa</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            
              <div class="tab-pane fade in active" id="datos_contrato" role="tabpanel">
                <div id="Datos" class="tab-pane fade in">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                      <%= form_for @Contract, as: :contract, url: generate_contract_admin_contract_index_path, method: :patch, html: { class: "new_contract", id: "new_contract" } do |f| %>
                        <%= f.label :rec_id, "SERIAL:"%>
                        <%= f.text_field :rec_id,:readonly => true, class: 'form-control', value: @Contract.rec_id%>
                        <%= f.text_field :id,:hidden => true, class: 'form-control', value: @Contract.id%>s
                        <%= f.label :tipo_documento_id, "Tipo Documento" %>
                        <%= select_tag "Tipo Documento", options_from_collection_for_select(TipoDocumento.all, "id", "tipoDocumento"), class: 'form-control', required: true %>
                        <%= f.label :cantidadEmpleados, "Cantidad de Empleados: "%>
                        <%= f.number_field :cantidadEmpleados, class: 'form-control', required: true %>

                        
                        <%= f.label :servicio_contratado, "Servicio a Contratar" %>
                        <%= f.text_field :servicio_contratado, class: 'form-control', placeholder: 'Servicio a Contratar' %>
                        <%= f.label :centro_de_negocio, "Centro de Negocio" %>
                        <%= f.text_field :centro_de_negocio, class: 'form-control', placeholder: 'Servicio a Contratar'%>
                        <%= f.label :condicion, "Condicion Especial" %>
                        <%= f.text_field :condicion, class: 'form-control', placeholder: 'Condicion Especial'%>
                        <%= f.label :fecha_de_contratacion, "Fecha de contratacion" %>
                        <%= f.date_field :fecha_de_contratacion, class: 'form-control', placeholder: 'Fecha de Inicio de la Contratacion'%>
                        <%= f.label :final_contrato, "Fecha de finalizacion" %>
                        <%= f.date_field :final_contrato, class: 'form-control', placeholder: 'Fecha finalizacion'%>
                        <%= f.label :periodo_facturacion_id, "Periodo de Facturacion" %>
                        <%= select_tag "Periodo Facturacion", options_from_collection_for_select(PeriodoFacturacion.all, "id", "periodo"), class: 'form-control' %>
                        <%= f.label :deposito, "Deposito" %>
                        <%= select_tag "Deposito", "<option value=1 selected>True</option><option value=2>False</option>".html_safe, multiple: true, id: 'deposito_id', class: 'form-control' %>

                        <%= f.label :montoDeposito, "Monto Deposito" %>
                        <%= f.text_field :montoDeposito, class: 'form-control', placeholder: 'Monto Deposito' %>

                        <%= f.label :usoTelefono, "Uso del Telefono" %>
                        <%= select_tag "Uso del Telefono", "<option value=1 selected>True</option><option value=2>False</option>".html_safe, multiple: true, id: 'uso_telefono_id', class: 'form-control' %>

                        <%= f.label :minutosAlMes, "Minutos al Mes" %>
                        <%= f.text_field :minutosAlMes, class: 'form-control', placeholder: 'Minutos Al Mes' %>

                        <%= f.label :llamadasExtranjero, "Llamadas al Extrajero" %>
                        <%= select_tag "Llamadas al extranjero", "<option value=1 selected>True</option><option value=2>False</option>".html_safe, multiple: true, id: 'llamadas_extranjero_id', class: 'form-control' %>

                        <%= f.label :usoSalaConferencias, "Uso sala de conferencias" %>
                        <%= select_tag "Uso sala de conferencias", "<option value=1 selected>True</option><option value=2>False</option>".html_safe, multiple: true, id: 'uso_sala_conferencias_id', class: 'form-control' %>

                        <%= f.label :usoSaltaConferenciaHoras, "Horas de uso de Salas" %>
                        <%= f.number_field :usoSaltaConferenciaHoras, class: 'form-control', placeholder: 'Uso de Horas de Salas de Conferencias' %>

                        <%= f.label :parqueosAsignados, "Parqueos Asignados" %>

                        <%= f.number_field :parqueosAsignados, class: 'form-control', placeholder: 'Parqueos Asignados' %>

                        
                        <%= f.label :nit_representante_legal, "NIT del Representante Legal" %>
                        <%= f.text_field :nit_representante_legal, class: 'form-control', placeholder: 'NIT del Representante Legal'%>
                        <%= f.label :dui_representante_legal, "DUI Representante Legal" %>
                        <%= f.text_field :dui_representante_legal, class: 'form-control', placeholder: 'Representante Legal'%>
                        <%= f.label :telefono_representante_legal, "Telefono Representante Legal" %>
                        <%= f.text_field :telefono_representante_legal, class: 'form-control', placeholder: 'Telefono Representante Legal'%>
                        <%= f.label :tipo_contrato_id, "Tipo Contrato" %>
                        <%= select_tag "Tipo Contrato", options_from_collection_for_select(TipoContrato.all, "id", "tipoContrato"), class: 'form-control' %>
                        
                        <%= f.label :oficina_id, "Oficina" %>
                        <%= select_tag "Oficina", options_from_collection_for_select(Oficina.all, "id", "name"), class: 'form-control' %>
                        <%= f.label :correo_representante_legal, "Correo Representante Legal" %>
                        <%= f.text_field :correo_representante_legal, class: 'form-control', placeholder: 'Correo Representante Legal'%>
                        
                        <%= f.submit "Generar Contrato", class: 'btn btn-primary submit' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="tab-pane fade in" id="datos_empresa" role="tabpanel">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                       <%= form_for @ClientFound, as: :client, url: admin_client_path, method: :patch, html: { class: "new_client", id: "new_client" } do |f| %>
                            <%= f.label :rec_id,"SERIAL:"%>
                            <%= f.text_field :rec_id,:readonly => true, class: 'form-control', value: @ClientFound.rec_id%>
                            <%= f.label :nombre,"Nombre Empresa:"%>
                            <%= f.text_field :nombre ,  required: true, class: 'form-control', placeholder: 'Nombre Empresa' %>
                            <%= f.label :giroEmpresa,"GIRO DE LA EMPRESA:"%>
                            <%= f.text_field :giroEmpresa, class: 'form-control', placeholder: 'Giro de la Empresa'%>
                            <%= f.label :nombre_comercial, "Nombre Comercial:"%>
                            <%= f.text_field :nombre_comercial , class: 'form-control', placeholder: 'Nombre Comercial' %>
                            <%= f.label :sector_economico,"Sector economico:"%>
                            <%= f.text_field :sector_economico, class: 'form-control', placeholder: 'Sector economico al que pertenece la empresa'%>
                            <%= f.label :nit,"No NIT Empresa:"%>
                            <%= f.text_field :nit, class: 'form-control', placeholder: 'NIT', required: true%>
                            
                            <%= f.label :cantidadEmpleados,"CANTIDAD DE EMPLEADOS:"%>
                            <%= f.number_field :cantidadEmpleados, class: 'form-control', placeholder: 'Cantidad de Empleados'%>
                            <%= f.label :fecha_de_constitucion,"FECHA DE CONSTITUCION DE LA EMPRESA:"%>
                            <%= f.date_field :fecha_de_constitucion, class: 'form-control'%>
                            <%= f.label :empresaNacional,"Es empresa Nacional? "%>
                            <%= select_tag(:empresaNacional, options_for_select([['True', 1], ['False', 2], ['Select one please', 3]], @ClientFound.empresaNacional), {:class => 'form-control'})  %>
                            <%= f.label :pais_origen_id,"PAIS DE ORIGEN:"%>
                            <%= f.collection_select(:pais_origen_id, PaisOrigen.all, :id, :name_with_initial, {prompt: "Seleccione un Pais"}, {:required => true, :class=>'form-control'}) %>
                            <%= f.label :representante_legal,"Representante Legal:"%>
                            <%= f.text_field :representante_legal, class: 'form-control', placeholder: 'Representante Legal' %>      
                            <%= f.label :oficina_actual,"Posee Oficina?"%>
                            <%= select_tag(:oficina_actual, options_for_select([['True', 1], ['False', 2], ['Select one please', 3]], @ClientFound.oficina_actual), {:class => 'form-control'})  %>
                            <%= f.label :correo,"Correo Empresarial:"%>
                            <%= f.text_field :correo, class: 'form-control', placeholder: 'Correo Empresarial' %>
                            <%= f.label :telefono,"Telefono:"%>
                            <%= f.text_field :telefono, class: 'form-control', placeholder: 'Telefono' %>
                            <%= f.label :pagina_web,"Pagina Web Empresarial:"%>
                            <%= f.text_field :pagina_web , class: 'form-control', placeholder: 'Pagina Web Empresarial' %>
                            <%= f.label :domicilio_fiscal,"Domicilio Fiscal:"%>
                            <%= f.text_field :domicilio_fiscal , required: true, class: 'form-control', placeholder: 'Domicilio Fiscal' %>
                            <%= f.label :registro_fiscal,"No NRF:"%>
                            <%= f.text_field :registro_fiscal, class: 'form-control', placeholder: 'NRF', required: true%>
                            <%= f.submit "Modificar", class: 'btn btn-primary submit' %>
                          <% end %>
              </div>
          </div>
              
            </div>
           <!-- <input type="button" name="commit" value="Crear" class="btn btn-primary submit">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  
  .btn.btn-primary.submit {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

</style>


<script type="text/javascript">
  $(document).ready(function(){
    $('#new_contract').validate({
      invalidHandler: function(event, validator){
        toastr.error('You are missing required inputs', 'Error!', {timeOut: 3000});
      }
    });
  });
  
</script>







